{% extends 'base.html.twig' %}


{% block body %}
{#
{{ form_start(form) }}
{{ form_widget(form) }}
#} 
{{ form_start(form) }}
{{form_label(form.name)}}
{{form_widget(form.name)}}

    <button id="guardar">{{ button_label|default('Enviar') }}</button>
{{ form_end(form) }}
    <button id="salir" onclick="window.location.href='{{ path('main') }}'">Cancelar</button>

{% endblock %}
