
{# {% extends 'base.html.twig' %} #}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="containter">
	<div class="row-xs-12 row-sm-12 row-md-12 row-lg-12 justify-center">
		<h1>Estado del riego</h1>
	</div>
	<br>
	<table id="dtHorizontalExample" class="table table-responsive-xs" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Sector</th>
				<th>Enceder/Apagar</th>
				<th>Programado</th>
			</tr>
		</thead>
		<tbody>
			{% set counter = 0 %}
			{% for state in states %}
			{% set counter = counter + 1 %}
				<tr>
					<td>{{ state.sector }}</td>
					{# Si el estado manual es TRUE, #switchMan = checked #}
					{# Si quito el checked sale false, al poner checked siempre sale activado #}
					 <td>
						<input type="checkbox" id="switchMan_{{ counter }}" checked="{{ state.onoff }}" name="switchMan">
						<label for="switchMan_{{ counter }}" class="lbl">
					</td> 
					{% if state.onoff %}
					 <script>
						document.querySelector("#switchMan_{{ counter }}").setAttr(checked="true");
					</script> 
					{% endif %}   
					{# Si tiene un schedule configurado es TRUE, #switchPro = checked #}
					 <td>
						<input type="checkbox" id="switchPro_{{ counter }}" checked="{{ state.programmed }}" name="switchPro">
						<label for="switchPro_{{ counter }}" class="lbl"> 
					</td>
					{# {% if state.programmed %}<script>
						document.querySelector("#switchPro_{{ counter }}").checked="true";
					</script>
					{% endif %} #}
				</tr>
				<tr>
					<td>{{ state.sector }}</td>
					<td>MAN{{ counter }} {{ dump(state.onoff) }}</td>
					<td>PRO{{ counter }} {{ dump(state.programmed) }}</td>
				</tr>

			{% endfor %}
		</tbody>
	</table>
	
</div>











{#       FUNCIONA CON LA SEGUNDA PARTE DE LOS ESTILOS     #}

{#  
<script>
$(document).ready(function()
{
	$('.lbl').click(function()
	{
		$(this).toggleClass("lblOn");
	});

});
</script> 
 #}





{#                      IDEA IDEA IDEA IDEA IDEA         #}

{# <script>
$(document).ready(function()
{
	$('.lbl').click(function()
	{
		if(document.querySelector(this).checked="true"){
			$(this).addClass("lbl_true");
			$(this).removeClass("lbl_false");

		}else{
			$(this).removeClass("lbl_true");
		}
	});

});
</script>  #}

