 
{% extends 'base.html.twig' %}
{% block body %}
<div class="containter">
	<div class="row-xs-12 row-sm-12 row-md-12 row-lg-12 justify-center">
		<h1>Estado del riego</h1>
	</div>
	<br>
	<table id="dtHorizontalExample" class="table table-responsive-xs" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Sector</th>
				<th>Enceder/Apagar</th>
				<th>Programado</th>
			</tr>
		</thead>
		<tbody>
			{% set counter = 0 %}
			{% for state in states %}
			
				<tr>
					<td>{{ state.sector }}</td>
					{# Si el estado manual es TRUE, #switchMan = checked #}
					{# Si quito el checked sale false, al poner checked siempre sale activado #}
					
					{% if state.getOnoff() %}
						<td>
							<input type="checkbox" id="switchMan_{{ counter }}" checked="true" 
							name="switchMan"  data-name="{{ state.sector }}">
							<label for="switchMan_{{ counter }}" class="lbl">
						</td> 
					{% else %}
						<td>
							<input type="checkbox" id="switchMan_{{ counter }}"
							name="switchMan" data-name="{{ state.sector }}">
							<label for="switchMan_{{ counter }}" class="lbl">
						</td> 
					
					{% endif %}   
					
					
					
					{# Si tiene un schedule configurado es TRUE, #switchPro = checked #}
					
					{% if state.getProgrammed() %}
						<td>
							<input type="checkbox" id="switchPro_{{ counter }}" checked="true" 
							name="switchPro" data-name="{{ state.sector }}">
							<label for="switchPro_{{ counter }}" class="lbl"> 
						</td>
					{% else %}
						<td>
							<input type="checkbox" id="switchPro_{{ counter }}" 
							name="switchPro" data-name="{{ state.sector }}">
							<label for="switchPro_{{ counter }}" class="lbl"> 
						</td>
					{% endif %}
				</tr>
			
				
			{% set counter = counter + 1 %}
			{% endfor %}
		</tbody>
	</table>
	
</div>

<script>
var checkbox = document.getElementById("foo"),
    ajax = function(url){
        var xhr = window.XMLHttpRequest ? 
                  new XMLHttpRequest() : 
                  new ActiveXObject("Microsoft.XMLHTTP") || 
                  new ActiveXObject("Msxml2.XMLHTTP");
 
        xhr.open("GET", url, true);
        xhr.send(null);
    };
 
checkbox.addEventListener("click", function(){
    var checked = this.checked ? 1 : 0, //Si está marcado, asigno 1 a 'checked', si no, 0
        sector = this.getAttribute("data-name"), //El valor del pseudo-atributo 'data-id'
		type= this.getAttribute("name"), //El valor del pseudo-atributo 'data-name', Si es el Onoff o el Programmed
        url = "state_update/state=" + checked + "/sector=" + sector + "/type=" + type;
 
    ajax(url); //Ejecuto la petición asíncrona, enviando los valores
}, false);
</script>
{% endblock %}